@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap");

* {
	box-sizing: border-box;
}

.dropzone {
	height: 8rem;
	margin: 1rem;
	padding: 1rem;
	border: 2px dashed salmon;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;
	cursor: pointer;
}

.active {
	border: 2px solid rebeccapurple;
}
